{% extends "layout.html" %}
{% block content %}
    <div class="row-fluid">
        
        <div id="app">
            
            terms
        </div>
     </div>    
    {% endblock %}
    {% block scripts %}
        <!-- start: JavaScript-->
       <script src="/static/js/lib/jquery-1.9.1.min.js"></script>
    <script src="/static/js/lib/jquery-migrate-1.0.0.min.js"></script>
    <script src="/static/js/lib/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="/static/js/lib/jquery.ui.touch-punch.js"></script>
    <script src="/static/js/lib/modernizr.min.js"></script>
    <script src="/static/js/lib/bootstrap.min.js"></script>
    <script src="/static/js/lib/custom.js"></script>
        <!-- end: JavaScript-->
       
        
        {%- endblock scripts %}