body { 
font-family: Arial, Verdana, 宋体;
font-size: 14px;
line-height: 1.42857143;
height:100%;
width:100%;
color: #666;
background: #fff;
background-color: #f5f5f5;
}
footer {
border-top:1px solid #e5e5e5;
color:#9c9c9d;
margin-top:70px;
padding:30px 0;
font-size:14px;
position:absolute;
}
.footer a{
color:#9c9c9d
}
.footer-top .about>div{
height:110px;
margin-bottom:10px
}
.footer-top .about>div h4{
color:#563d7c;
font-size:16px
}
.footer-bottom ul>li+li:before{
color:#eee;
content:"|";padding:0 10px
}
.thumbnail .caption {
  padding: 9px;
  color: #555555;
}
.momenttime{
	text-align: right;
}
.nav>li>a {
  position: relative;
  display: block;
  font-weight: bold;
  text-align: center;
  border-left: 1px solid rgba(255,255,255,.75);
  border-right: 1px solid rgba(0,0,0,.1);
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
  color: #999999;
}
.muted {
  color: #999999;
}
h1 {
  font-size: 38.5px;
  font-weight: bold;
}
a {
  color: #0088cc;
  text-decoration: none;
}