{% extends "layout.html" %}
{% block content %}


        <div class="row-fluid">

            <div id="app">


            </div>
        </div>
    {% endblock %}
    {% block scripts %}
        <!-- start: JavaScript-->
        <script src="/static/js/lib/jquery-1.9.1.min.js"></script>
        <script src="/static/js/lib/jquery-migrate-1.0.0.min.js"></script>

        <script src="/static/js/lib/jquery-ui-1.10.0.custom.min.js"></script>

        <script src="/static/js/lib/jquery.ui.touch-punch.js"></script>

        <script src="/static/js/lib/modernizr.js"></script>

        <script src="/static/js/lib/bootstrap.min.js"></script>

        <script src="/static/js/lib/jquery.cookie.js"></script>

        <script src='/static/js/lib/fullcalendar.min.js'></script>

        <script src='/static/js/lib/jquery.dataTables.min.js'></script>
        <script src="/static/js/lib/excanvas.js"></script>
        <script src="/static/js/lib/jquery.flot.js"></script>
        <script src="/static/js/lib/jquery.flot.pie.js"></script>
        <script src="/static/js/lib/jquery.flot.stack.js"></script>
        <script src="/static/js/lib/jquery.flot.resize.min.js"></script>

        <script src="/static/js/lib/jquery.chosen.min.js"></script>

        <script src="/static/js/lib/jquery.uniform.min.js"></script>

        <script src="/static/js/lib/jquery.cleditor.min.js"></script>

        <script src="/static/js/lib/jquery.noty.js"></script>

        <script src="/static/js/lib/jquery.elfinder.min.js"></script>

        <script src="/static/js/lib/jquery.raty.min.js"></script>

        <script src="/static/js/lib/jquery.iphone.toggle.js"></script>

        <script src="/static/js/lib/jquery.uploadify-3.1.min.js"></script>

        <script src="/static/js/lib/jquery.gritter.min.js"></script>

        <script src="/static/js/lib/jquery.imagesloaded.js"></script>

        <script src="/static/js/lib/jquery.masonry.min.js"></script>

        <script src="/static/js/lib/jquery.knob.modified.js"></script>

        <script src="/static/js/lib/jquery.sparkline.min.js"></script>

        <script src="/static/js/lib/counter.js"></script>

        <script src="/static/js/lib/custom.js"></script>
        <!-- end: JavaScript-->
        <script src="/static/js/build/groupsindex.js"></script>

        {%- endblock scripts %}
