{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
	<div class="container">
		<p>
			<input type=text size=5 name=a> +
			<input type=text size=5 name=b> =
			<span id=result>?</span>
		</p>
		<p><input type="button" id="calculate" value="计算"></p>
		<p><input type="button" id="user" value="listuser"></p>
		<ul id="userlist">
			
		</ul>
	</div>
	
{% endblock %}
{% block scripts %}
	<script src="/static/js/lib/jquery.js"></script>
	<script src="/static/js/lib/bootstrap.js"></script>
	<script type=text/javascript>
			var $SCRIPT_ROOT = {{request.script_root|tojson|safe}};
	</script>
	<script type=text/javascript>
	$(function() {
	function submit_form(e) {
	$.getJSON($SCRIPT_ROOT + '/add', {
	a: $('input[name="a"]').val(),
	b: $('input[name="b"]').val(),
	now: new Date().getTime()
	},
	function(data) {
	$('#result').text(data.result);
	console.log(data);
	});
	};
	// 绑定click事件
	$('#calculate').bind('click', submit_form);
	});
	$(function() {
	function list_user(e) {
	$.getJSON($SCRIPT_ROOT + '/userlist', {
	
	},
	function(data) {
	//$('#result').text(data.result);
	console.log(data.messages.length);
	$("#userlist li").empty();
	$.each(data.messages,function(idx,item){
	console.log(item.email);
	$("#userlist").html($("#userlist").html() + '<li>'+item.email+'</li>');
	
	})
	
	});
	};
	// 绑定click事件
	$('#user').bind('click', list_user);
	});

	
	</script>
	{%- endblock scripts %}