{% block doc -%}
    <!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
<head>
    {%- block head %}
<title>{% block title %}{% endblock title %}</title>
{%- block metas %}
<meta  charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{%- endblock metas %}
{%- block styles %}

{%- endblock styles %}
{%- endblock head %}
</head>
<body{% block body_attribs %}{% endblock body_attribs %}>
{% block body -%}
{% block navbar %}
{%- endblock navbar %}
{% block content -%}
    {%- endblock content %}
    {% block scripts %}

        
        {%- endblock scripts %}
        {%- endblock body %}
        <div class="container">
        <footer class="footer">
            <div class="container">
                <div class="row footer-top">
                    <div class="col-sm-9">
                        <ul class="list-inline text-center">
                            <li><a target="_blank" href="#">备案号</a></li>
                            <li>沪ICP XXXXXCXXX</li>
                            <li>|</li>
                            <li><a href="/about/">关于</a></li>
                            <li><a title="拼拼官方微博" href="http://weibo.com/xingkaixin">新浪微博</a></li>
                            <li><a title="Keep in touch :)" href="mailto:hi@pinpin.com" _hover-ignore="1">电子邮件</a></li>
                            <li><a href="/jobs/">工作</a></li>
                            <li><a href="/agreement/" target="_blank">协议</a></li>
                            <li><a href="/links/">友情链接</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-inline text-center">
                            <li><i class="glyphicon glyphicon-copyright-mark"></i>&nbsp; 2015 拼拼</li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
         </div>
    </body>
    {%- endblock html %}
</html>
{% endblock doc -%}