{% extends "base.html" %}
{% import "bootstrap/utils.html" as util %}

{% block html_attribs %} lang="zh-CN"{% endblock %}

{% block title %}PinPin{% endblock %}

{%- block metas %}
<meta  charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{%- endblock %}

{%- block styles %}
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/site.css" rel="stylesheet">
    
{%- endblock styles %}

{% block navbar %}

<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">PinPin</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                    <li><a class="btn btn-deault btn-lg" href="/" role="button"> <span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
                {% if not session.logged_in %}
                    <li><a href="{{ url_for('user.login') }}"></a>登陆</li>
                    <li><a href="{{ url_for('user.register') }}">注册</a></li>                    
                {% else %}
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ session.logged_name }}<span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ url_for('order.show_user_groups')}}">group</a></li>
                        <li><a href="{{ url_for('shopcart.view_shopcart')}}">shopcart</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ url_for('user.logout') }}">quit</a></li>
                      </ul>
                    </li>

					<li><a href="{{ url_for('user.notification') }}">notification <span class="badge">{{ page }}</span></a></li>

                    
			</ul>
			<ul class="nav navbar-nav navbar-right">
                    
					<li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">add<span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ url_for('order.publish_group') }}">group</a></li>
                        <li><a href="#">shopcart</a></li>
                      </ul>
                    </li>
					
                    <form class="navbar-form navbar-left" role="search" method="get" action="/search">
                        <div class="form-group">
                            <input name="s_url" type="text" class="form-control" placeholder="搜你想要的">
                        </div>
                    </form>
                    
                                        
                {% endif %}
            </ul>
        </div>
    </div>
</header>
{% endblock %}



{% block content %}
 
{% endblock %}

{% block scripts %}
     <script src="/static/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    
    {%- endblock scripts %}