{% import "bootstrap/utils.html" as util %}
<!DOCTYPE html>
<html lang="zh_cn">
    <head><!--/head-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pinpin">
    <meta name="author" content="xingkaixin">
    <title>PinPin</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
    </head><!--/head-->
    <body>
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">PinPin</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            {% if  session.logged_in %}
                                <li class="active"><a href="#">选购 <span class="sr-only">(current)</span></a></li>
                                <li class=""><a href="#">我要做团长 <span class="sr-only">(current)</span></a></li>
                            {% else %}
                            {% endif%}
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% if not session.logged_in %}
                                <li><a href={{ url_for('user.login') }}>注册/登录</a></li>
                            {% else %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">我的拼拼 <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">我的信息</a></li>
                                        <li><a href="#">我的订单</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">退出</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                        </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                </div>
    
            
            {% if get_flashed_messages() %}
                <div class="flash col-md-2 bs-example bs-example-standalone" data-example-id="dismissible-alert-js">
                    {% for message in get_flashed_messages() %}
                        
                        <div class="alert alert-warning alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                            {{ message }}
                        </div>
                        
                        
                    {% endfor %}
                </div>
            {% endif %}
            {% block content %}
                
            {% endblock %}
            <div class="container">
                <footer class="footer">
                    <div class="container">
                        <div class="row footer-top">
                            <div class="col-sm-9">
                                <ul class="list-inline text-center">
                                    <li><a target="_blank" href="#">备案号</a></li>
                                    <li>沪ICP XXXXXCXXX</li>
                                    <li>|</li>
                                    <li><a href="/about/">关于</a></li>
                                    <li><a title="拼拼官方微博" href="http://weibo.com/xingkaixin">新浪微博</a></li>
                                    <li><a title="Keep in touch :)" href="mailto:hi@pinpin.com" _hover-ignore="1">电子邮件</a></li>
                                    <li><a href="/jobs/">工作</a></li>
                                    <li><a href="/agreement/" target="_blank">协议</a></li>
                                    <li><a href="/links/">友情链接</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-3">
                                <ul class="list-inline text-center">
                                    <li><i class="glyphicon glyphicon-copyright-mark"></i>&nbsp; 2015 拼拼</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </body>
        {% block scripts %}
            <script src="/static/js/lib/jquery.js"></script>
            <script src="/static/js/lib/bootstrap.js"></script>
            {%- endblock scripts %}
        </html>