{% extends "layout.html" %}
{% block content %}
{{util.flashed_messages()}}
 <div class="container">

  <div class="row">
    <h2>You hava Order need you approved</h2>
    {% if entries %} 
     <table class="table table-striped">
         
            <tr>
                <th style="text-align:center">
                    <input type="checkbox">
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Delete <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Approve the Selected</a></li>
                        <li><a href="#">Approve All</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Reject the Selected</a></li>
                        <li><a href="#">Reject All</a></li>
                      </ul>
                    </div>                    
                </td>
                <th style="display:none;">id</td>
                <th style="text-align:center">title</td>
                <th style="text-align:center">desc</td>
                <th style="text-align:center">operator</td>
            </tr>
        {% for entry in entries %}
            <tr>
                <td style="text-align:center">
                    <input type="checkbox">
                </td>
                <td style="display:none;">{{ entry.id }}</td>
                <td style="text-align:center">{{ entry.title }}</td>
                <td style="text-align:left">{{ entry.desc }}</td>
                <td style="text-align:center">
                    <a class="btn btn-success btn-xs" href="/order/{{ entry.id }}/approve" role="button"> <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
                    <a class="btn btn-danger btn-xs" href="/order/{{ entry.id }}/reject" role="button"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                </td>

            </tr>
        {% endfor %}
    </table>
    
  {% else %}
   <p>No anything in shopcart!</p>
  {% endif %}
  </div>


</div>
{% endblock %}