{% extends "layout.html" %}
{% block content %}
 <div class="container">

    <div class="row">
    	{% for entry in entries %}
    	  <div class="col-md-4">
    	  		<ul>
    	  			<li><h2><a href="/group/{{ entry.id }}">{{ entry.title }}</a></h2></li>
    	  			<li>{{ entry.category }},{{ entry.type }},{{ entry.item }},{{ entry.limit_price }},{{ entry.limit_weight }},{{ entry.kickoff_dt }}</li>
    	  		</ul>
    	  </div>
    	{% else %}
    		<p>No any Group now!</p>
    	{% endfor %}

	</div>
 <div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="col-md-4">123</div>
            <div class="col-md-4">456</div>
            <div class="col-md-4">789</div>
        </div>
        <div class="col-md-8">
            <div class="col-md-4">123</div>
            <div class="col-md-4">456</div>
            <div class="col-md-4">789</div>
        </div>
        </div>
</div>
</div>
{% endblock %}