{% extends "layout.html" %}
{% block content %}
{{util.flashed_messages()}}




 <div class="container">
    <div class="row">
    	{% for entry in entries %}
    	  <div class="col-md-12 text-center">
                <h2>{{ entry.title }}</h2>
                
		</div>
		<div class="col-md-4">
		<img  src="/static/imgs/2.png" class="img-responsive img-rounded" alt="Responsive image">
		</div>
		<div class="col-md-4">
                <h2>{{ entry.desc }}</h2>
                <h2>{{ entry.category }}</h2>
                <h2>{{ entry.type }}</h2>
                <h2>{{ entry.item }}</h2>
    	  </div>
		  
		<div class="col-md-4">
				<h2>$123</h2>
                <p>limited:200</p>
                <h2>121g</h2>
                <p>limited:200</p>
                <h2>3</h2>
				<p>backers</p>
		</div>
		<div class="col-md-4 col-md-offset-8"><button type="button" class="btn btn-success btn-lg" data-loading-text="加入中..." autocomplete="off" onclick="join()" id="btn_join">加入</button></div>
		</div>
		
		
		
<script>		
    function join() {
      var btn = $("#btn_join");
      btn.button('loading');
      setTimeout(function () { btn.button('reset'); },2000);
    }
</script>
		<div class="row">
			<div class="row">
				<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
				  看看还有谁
				</a>
			</div>
			<div class="row">&nbsp;</div>
			<div class="row">
			<div class="collapse col-md-8" id="collapseExample">
			  <div class="well">
				<div class="row">
					<div class="col-xs-3">
						<div class="col-xs-1">
							<img  src="/static/imgs/4.jpg" class="img-circle" width="25" height="25">
						</div>
						<div class="col-xs-1">
							<img  src="/static/imgs/4.jpg" class="img-circle" width="25" height="25">
						</div>
						<div class="col-xs-1">
							<img  src="/static/imgs/4.jpg" class="img-circle" width="25" height="25">
						</div>
						<div class="col-xs-1">
							<img  src="/static/imgs/4.jpg" class="img-circle" width="25" height="25">
						</div>
						<div class="col-xs-1">
							<img  src="/static/imgs/4.jpg" class="img-circle" width="25" height="25">
						</div>
						<div class="col-xs-1">
							<img  src="/static/imgs/4.jpg" class="img-circle" width="25" height="25">
						</div>
						<div class="col-xs-1">
							<img  src="/static/imgs/4.jpg" class="img-circle" width="25" height="25">
						</div>
						<div class="col-xs-1">
							<img  src="/static/imgs/4.jpg" class="img-circle" width="25" height="25">
						</div>
						<div class="col-xs-1">
							<img  src="/static/imgs/4.jpg" class="img-circle" width="25" height="25">
						</div>
						<div class="col-xs-1">
							<img  src="/static/imgs/4.jpg" class="img-circle" width="25" height="25">
						</div>
						<div class="col-xs-1">
							<img  src="/static/imgs/4.jpg" class="img-circle" width="25" height="25">
						</div>
						<div class="col-xs-1">
							<img  src="/static/imgs/4.jpg" class="img-circle" width="25" height="25">
						</div>
						<div class="col-xs-1">
							<img  src="/static/imgs/4.jpg" class="img-circle" width="25" height="25">
						</div>
						<div class="col-xs-1">
							<img  src="/static/imgs/4.jpg" class="img-circle" width="25" height="25">
						</div>
						<div class="col-xs-1">
							<img  src="/static/imgs/4.jpg" class="img-circle" width="25" height="25">
						</div>
						<div class="col-xs-1">
							<img  src="/static/imgs/4.jpg" class="img-circle" width="25" height="25">
						</div>
						<div class="col-xs-1">
							<img  src="/static/imgs/4.jpg" class="img-circle" width="25" height="25">
						</div>
						<div class="col-xs-1">
							<img  src="/static/imgs/4.jpg" class="img-circle" width="25" height="25">
						</div>
					</div
				</div>
			  </div>
			</div>		
		
		</div>
		</div>
		
		
		
		
		 <div class="row">
        <div class="col-md-1">
		<a href="#myModal" data-toggle="modal"><img  src="/static/imgs/3.jpg" class="img-responsive img-rounded" alt="Responsive image"></a>
		</div>
		<div class="col-md-1">
		<img  src="/static/imgs/3.jpg" class="img-responsive img-rounded" alt="Responsive image">
		</div>
		<div class="col-md-1">
		<img  src="/static/imgs/3.jpg" class="img-responsive img-rounded" alt="Responsive image">
		</div>
		<div class="col-md-1">
		<img  src="/static/imgs/3.jpg" class="img-responsive img-rounded" alt="Responsive image">
		</div>
		<div class="col-md-1">
		<img  src="/static/imgs/3.jpg" class="img-responsive img-rounded" alt="Responsive image">
		</div>
		<div class="col-md-1">
		<img  src="/static/imgs/3.jpg" class="img-responsive img-rounded" alt="Responsive image">
		</div>
		<div class="col-md-1">
		<img  src="/static/imgs/3.jpg" class="img-responsive img-rounded" alt="Responsive image">
		</div>
		<div class="col-md-1">
		<img  src="/static/imgs/3.jpg" class="img-responsive img-rounded" alt="Responsive image">
		</div>
		<div class="col-md-1">
		<img  src="/static/imgs/3.jpg" class="img-responsive img-rounded" alt="Responsive image">
		</div>
		<div class="col-md-1">
		<img  src="/static/imgs/3.jpg" class="img-responsive img-rounded" alt="Responsive image">
		</div>
		<div class="col-md-1">
		<img  src="/static/imgs/3.jpg" class="img-responsive img-rounded" alt="Responsive image">
		</div>
		<div class="col-md-1">
		<img  src="/static/imgs/3.jpg" class="img-responsive img-rounded" alt="Responsive image">
		</div>
		 </div>
		

<div class="row">
    <h2>Your line in this group</h2>
     <table class="table table-striped">
         
            <tr>
                <th style="text-align:center">
                    <input type="checkbox">
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Remove <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Remove the Selected</a></li>
                        <li><a href="#">Remove All</a></li>
                        <li class="divider"></li>
                        <li><a href="/group/order/{{ entry.id }}/apply">Apply this order</a></li>
                      </ul>
                    </div>                    
                </td>
                <th style="display:none;">id</td>
                <th style="text-align:center">price</td>
                <th style="text-align:center">weight</td>
                <th style="text-align:center">qty</td>
                <th style="text-align:center">Operator</th>
            </tr>
           {% for entry2  in entries2 %}
           <tr>
                <td style="text-align:center">
                    <input type="checkbox">
                </td>
                <td style="display:none;">{{ entry2.id }}</td>
                <td style="text-align:right">{{ entry2.price }}</td>
                <td style="text-align:right">{{ entry2.weight }}</td>
                <td style="text-align:right">{{ entry2.qty }}</td>
                <td style="text-align:center">
                    <a class="btn btn-primary btn-xs" href="/line/{{ entry2.id }}/remove" role="button"> <span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>
                </td>

            </tr>
        {% endfor %}
        </table>

</div>


<div class="col-md-12">
{% if entries3 %} 
<h2>Your Shopping Cart</h2>
    <div class="col-md-12">
         <table class="table table-striped">
         
            <tr>
                <th style="text-align:center">
                    <input type="checkbox">
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Add <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Add the Selected</a></li>
                        <li><a href="#">Add All</a></li>
                      </ul>
                    </div>                    
                </td>
                <th style="display:none;">id</td>
                <th style="display:none;">sku</td>
                <th style="text-align:center">website</td>
                <th style="text-align:center">shop</td>
                <th style="text-align:center">title</td>
                <th style="text-align:center">price</td>
                <th style="text-align:center">weight</td>
                <th style="text-align:center">qty</td>
                <th style="text-align:center">Operator</th>
            </tr>
        {% for entry3  in entries3 %}
           <tr>
                <td style="text-align:center">
                    <input type="checkbox">
                </td>
                <td style="display:none;">{{ entry3.id }}</td>
                <td style="display:none;">{{ entry3.sku }}</td>
                <td style="text-align:center">{{ entry3.website }}</td>
                <td style="text-align:center">{{ entry3.shop }}</td>
                <td style="text-align:center">{{ entry3.title }}</td>
                <td style="text-align:right">{{ entry3.price }}</td>
                <td style="text-align:right">{{ entry3.weight }}</td>
                <td style="text-align:right">{{ entry3.qty }}</td>
                <td style="text-align:center">
                    <a class="btn btn-primary btn-xs" href="/shopcart/{{ entry3.id }}/join/{{ entry.id }}" role="button"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                </td>

            </tr>
        {% endfor %}
    </div>
{% else %}
   <p>No anything in shopcart!</p>


</div>
  {% endif %}
    	{% else %}
    		<p>No any Group now!</p>
    	{% endfor %}




<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">商品信息</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-4">.col-md-4</div>
              <div class="col-md-4 col-md-offset-4">.col-md-4 .col-md-offset-4</div>
            </div>
            <div class="row">
              <div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
              <div class="col-md-2 col-md-offset-4">.col-md-2 .col-md-offset-4</div>
            </div>
            <div class="row">
              <div class="col-md-6 col-md-offset-3">.col-md-6 .col-md-offset-3</div>
            </div>
            <div class="row">
              <div class="col-sm-9">
                Level 1: .col-sm-9
                <div class="row">
                  <div class="col-xs-8 col-sm-6">
                    Level 2: .col-xs-8 .col-sm-6
                  </div>
                  <div class="col-xs-4 col-sm-6">
                    Level 2: .col-xs-4 .col-sm-6
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary">加入购物车</button>
      </div>
    </div>
  </div>
</div>
		
		
	</div>



{% endblock %}