{% extends "layout.html" %}
{% block content %}
 <div class="container">

    <div class="row">
        <div class="col-md-10">
            {% for entry in entries %}
          <div class="col-md-4">
                <ul>
                    <li><h2><a href="/group/{{ entry.id }}">{{ entry.title }}</a></h2></li>
                    <li>{{ entry.category }},{{ entry.type }},{{ entry.item }},{{ entry.limit_price }},{{ entry.limit_weight }},{{ entry.kickoff_dt }}</li>
                </ul>
          </div>
        {% else %}
            <p>No any Group now!</p>
        {% endfor %}
        </div>
    	


        <div class="col-md-2">
            <div class="col-md-12"><h5>就要组满人，快加</h5></div>
            <div class="col-md-4">123</div>
            <div class="col-md-4">456</div>
            <div class="col-md-4">789</div>
            <div class="col-md-4">123</div>
            <div class="col-md-4">456</div>
            <div class="col-md-4">789</div>
            <div class="col-md-4">123</div>
            <div class="col-md-4">456</div>
            <div class="col-md-4">789</div>
            <div class="col-md-4">123</div>
            <div class="col-md-4">456</div>
            <div class="col-md-4">789</div>
            <div class="col-md-4">123</div>
            <div class="col-md-4">456</div>
            <div class="col-md-4">789</div>
            <div class="col-md-4">123</div>
            <div class="col-md-4">456</div>
            <div class="col-md-4">789</div>
            <ul class="nav nav-tabs">
   <li><a href="#" data-toggle="tab">1</a></li>
   <li><a href="#" data-toggle="tab">2</a></li>
   <li><a href="#" data-toggle="tab">3</a></li>
   <li><a href="#" data-toggle="tab">4</a></li>
   <li><a href="#" data-toggle="tab">5</a></li>
   <li><a href="#" data-toggle="tab">6</a></li>
   <li><a href="#" data-toggle="tab">1</a></li>
   <li><a href="#" data-toggle="tab">2</a></li>
   <li><a href="#" data-toggle="tab">3</a></li>
   <li><a href="#" data-toggle="tab">4</a></li>
   <li><a href="#" data-toggle="tab">5</a></li>
   <li><a href="#" data-toggle="tab">6</a></li>
</ul>
        </div>

	</div>



</div>
{% endblock %}