{% extends "layout.html" %}
{% block content %}
 <div class="container">
 	
    <div class="row">
    	{% for entry in entries %}
    	  <div class="col-md-12">
    	  		<h2>title</h2>
                <p>{{ entry.title }}</p>
                <h2>desc</h2>
                <p>{{ entry.desc }}</p>
                <h2>category</h2>
                <p>{{ entry.category }}</p>
                <h2>type</h2>
                <p>{{ entry.type }}</p>
                <h2>item</h2>
                <p>{{ entry.item }}</p>
    	  </div>


          <div>

    <h2>Your line in this group</h2>
     <table class="table table-striped">
         
            <tr>
                <th style="text-align:center">
                    <input type="checkbox">
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Remove <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Remove the Selected</a></li>
                        <li><a href="#">Remove All</a></li>
                      </ul>
                    </div>                    
                </td>
                <th style="display:none;">id</td>
                <th style="text-align:center">price</td>
                <th style="text-align:center">weight</td>
                <th style="text-align:center">qty</td>
                <th style="text-align:center">Operator</th>
            </tr>
           {% for entry2  in entries2 %}
           <tr>
                <td style="text-align:center">
                    <input type="checkbox">
                </td>
                <td style="display:none;">{{ entry2.id }}</td>
                <td style="text-align:right">{{ entry2.price }}</td>
                <td style="text-align:right">{{ entry2.weight }}</td>
                <td style="text-align:right">{{ entry2.qty }}</td>
                <td style="text-align:center">
                    <a class="btn btn-primary btn-xs" href="/line/{{ entry2.id }}/remove" role="button"> <span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>
                </td>

            </tr>
        {% endfor %}
        </table>

</div>


<div class="col-md-12">
{% if entries3 %} 
<h2>Your Shopping Cart</h2>
    <div class="col-md-12">
         <table class="table table-striped">
         
            <tr>
                <th style="text-align:center">
                    <input type="checkbox">
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Add <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Add the Selected</a></li>
                        <li><a href="#">Add All</a></li>
                      </ul>
                    </div>                    
                </td>
                <th style="display:none;">id</td>
                <th style="display:none;">sku</td>
                <th style="text-align:center">website</td>
                <th style="text-align:center">shop</td>
                <th style="text-align:center">title</td>
                <th style="text-align:center">price</td>
                <th style="text-align:center">weight</td>
                <th style="text-align:center">qty</td>
                <th style="text-align:center">Operator</th>
            </tr>
        {% for entry3  in entries3 %}
           <tr>
                <td style="text-align:center">
                    <input type="checkbox">
                </td>
                <td style="display:none;">{{ entry3.id }}</td>
                <td style="display:none;">{{ entry3.sku }}</td>
                <td style="text-align:center">{{ entry3.website }}</td>
                <td style="text-align:center">{{ entry3.shop }}</td>
                <td style="text-align:center">{{ entry3.title }}</td>
                <td style="text-align:right">{{ entry3.price }}</td>
                <td style="text-align:right">{{ entry3.weight }}</td>
                <td style="text-align:right">{{ entry3.qty }}</td>
                <td style="text-align:center">
                    <a class="btn btn-primary btn-xs" href="/shopcart/{{ entry3.id }}/join/{{ entry.id }}" role="button"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                </td>

            </tr>
        {% endfor %}
    </div>
{% else %}
   <p>No anything in shopcart!</p>


</div>
  {% endif %}
    	{% else %}
    		<p>No any Group now!</p>
    	{% endfor %}

	</div>



{% endblock %}