{% extends "layout.html" %}
{% block content %}
{{util.flashed_messages()}}
 <div class="container">

  {% if entries %} 
     <table class="table table-striped">
         
            <tr>
                <th style="text-align:center">
                    <input type="checkbox">
                    <div class="btn-group">
                      <button type="button" class="btn btn-warning btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Delete <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Delete the Selected</a></li>
                        <li><a href="#">Delete All</a></li>
                      </ul>
                    </div>                    
                </td>
                <th style="display:none;">id</td>
                <th style="display:none;">sku</td>
                <th style="text-align:center">website</td>
                <th style="text-align:center">shop</td>
                <th style="text-align:center">title</td>
                <th style="text-align:center">price</td>
                <th style="text-align:center">weight</td>
                <th style="text-align:center">qty</td>
                <th style="text-align:center">Operator</th>
            </tr>
        {% for entry in entries %}
            <tr>
                <td style="text-align:center">
                    <input type="checkbox">
                </td>
                <td style="display:none;">{{ entry.id }}</td>
                <td style="display:none;">{{ entry.sku }}</td>
                <td style="text-align:center">{{ entry.website }}</td>
                <td style="text-align:center">{{ entry.shop }}</td>
                <td style="text-align:center">{{ entry.title }}</td>
                <td style="text-align:right">{{ entry.price }}</td>
                <td style="text-align:right">{{ entry.weight }}</td>
                <td style="text-align:right">{{ entry.qty }}</td>
                <td style="text-align:center">
                    <a class="btn btn-warning btn-xs" href="/shopcart/{{ entry.id }}/del" role="button"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                </td>

            </tr>
        {% endfor %}
    </table>
    
  {% else %}
   <p>No anything in shopcart!</p>
  {% endif %}


</div>
{% endblock %}