{% extends "layout.html" %}
{% block content %}
 <div class="container">

    <div class="row">
        <div class="col-md-10">
            {% for entry in entries %}
          <div class="col-md-4">
					<a href="/group/{{ entry.id }}"><img  src="static/imgs/1.png" class="img-responsive img-rounded" alt="Responsive image"></a>

          </div>
        {% else %}
            <p>No any Group now!</p>
        {% endfor %}
        </div>
    	


        <div class="col-md-2">
            <div class="col-md-12"><h5>就要组满人，快加</h5></div>
            <div class="col-md-4">123</div>
            <div class="col-md-4">456</div>
            <div class="col-md-4">789</div>
            <div class="col-md-4">123</div>
            <div class="col-md-4">456</div>
            <div class="col-md-4">789</div>
            <div class="col-md-4">123</div>
            <div class="col-md-4">456</div>
            <div class="col-md-4">789</div>
            <div class="col-md-4">123</div>
            <div class="col-md-4">456</div>
            <div class="col-md-4">789</div>
            <div class="col-md-4">123</div>
            <div class="col-md-4">456</div>
            <div class="col-md-4">789</div>
            <div class="col-md-4">123</div>
            <div class="col-md-4">456</div>
            <div class="col-md-4">789</div>
        </div>

	</div>



</div>
{% endblock %}