<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>starter</title>
  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
{{ entry }}
{% raw %}
    <script type="text/x-handlebars" data-template-name="groups/index">
  <ul id="todo-list">
    {{#each itemController="group"}}
      <li {{bind-attr class="isCompleted:completed isEditing:editing"}}>
        {{#if isEditing}}
          {{edit-group class="edit" value=title focus-out="acceptChanges" insert-newline="acceptChanges"}}
        {{else}}
          {{input type="checkbox" checked=isCompleted class="toggle"}}
          <label {{action "editGroup" on="doubleClick"}}>{{title}}</label>
          <button {{action "removeGroup"}} class="destroy"></button>
        {{/if}}
      </li>
    {{/each}}
  </ul>
  </script>

  <script type="text/x-handlebars" data-template-name="groups">

  <section id="todoapp">
    <header id="header">
      <h1>todos</h1>
      {{input type="text" id="new-todo" placeholder="What needs to be done?" 
              value=newTitle action="createGroup"}}
    </header>

      <section id="main">
        {{outlet}}
        {{input type="checkbox" id="toggle-all" checked=allAreDone}}
      </section>

      <footer id="footer">
        <span id="todo-count">
          <strong>{{remaining}}</strong> {{inflection}} left</span>
        <ul id="filters">
          <li>
            {{#link-to "groups.index" activeClass="selected"}}All{{/link-to}}
          </li>
          <li>
            {{#link-to "groups.active" activeClass="selected"}}Active{{/link-to}}
          </li>
          <li>
            {{#link-to "groups.completed" activeClass="selected"}}Completed{{/link-to}}
          </li>
		  {% endraw %}
	
		  <li>{{ entry }}</li>
		  	  {% raw %}
        </ul>

        {{#if hasCompleted}}
          <button id="clear-completed" {{action "clearCompleted"}}>
            Clear completed ({{completed}})
          </button>
        {{/if}}
      </footer>
  </section>
{% endraw %}
  <footer id="info">
    <p>Double-click to edit a todo</p>
  </footer>
  
  </script>

  <script src="/static/js/lib/jquery.js"></script>
  <script src="/static/js/lib/handlebars.js"></script>
  <script src="/static/js/lib/ember.js"></script>
  <script src="/static/js/lib/ember-data.js"></script>
  <script src="/static/js/app.js"></script>
</body>
</html>
