{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}



{% raw %}
<script type="text/x-handlebars" id="index">
	<div class="container">
		<div class="col-md-2">
			<ul class="nav nav-pills nav nav-pills nav-stacked">
				<li role="presentation">{{#link-to 'info'}}个人信息{{/link-to}}</li>
				<li role="presentation">{{#link-to 'addresses'}}收获地址管理{{/link-to}}</li>
				<li role="presentation">{{#link-to 'password'}}修改密码{{/link-to}}</li>
			</ul>
		</div>
		<div class="col-md-10">
		{{outlet}}
		</div>
	</div>
	
</script>


<script type="text/x-handlebars" id="info">
{{#each}}
<div class="container">
	<div class="col-md-4">
		<div class="img-box">
			<a href="#">
				<img  src="{{unbound user_img}}" class="img-responsive img-rounded" alt="Responsive image">
			</a>
		</div>
	</div>
	
	<div class="col-md-8">
		<div class="col-md-8">{{nickname}}</div>
		<div class="col-md-8">{{email}}</div>
		<div class="col-md-8">{{format-fromnow reg_dt}}</div>
	</div>
</div>

{{/each}}
</script>


<script type="text/x-handlebars" id="addresses">
<table class="table">
	<tr>
		<th style="text-align:center">地址行1</th>
		<th style="text-align:center">地址行2</th>
		<th style="text-align:center">默认地址</th>
	</tr>
{{#each}}
	<tr>
		<td style="text-align:center">{{address_line1}}</td>
		<td style="text-align:center">{{address_line2}}</td>
		<td style="text-align:center">
		{{#if isDefault}}
		&nbsp;
		{{else}}
		<button type="button" class="btn btn-success btn-xs">设为默认</button>
		{{/if}}
		</td>
	</tr>
{{/each}}
</table>
</script>


<script type="text/x-handlebars" id="password">
{% endraw %}

{{ wtf.quick_form(form, button_map={'submit_button': 'primary'}) }}

{% raw %}
</script>


{% endraw %}
{% endblock %}


{% block scripts %}
    <script src="/static/js/lib/jquery.js"></script>
    <script src="/static/js/lib/bootstrap.js"></script>
    <script src="/static/js/lib/handlebars.js"></script>
    <script src="/static/js/lib/ember.debug.js"></script>
    <script src="/static/js/lib/ember-template-compiler.js"></script>
    <script src="/static/js/lib/ember-data.js"></script>
    <script src="/static/js/lib/moment-with-locales.min.js"></script>
    <script src="/static/js/lib/showdown.js"></script>
    <script src="/static/js/user.js"></script>
    
{%- endblock scripts %}