{% extends "layout.html" %}
{% block content %}
    <ul class="breadcrumb">
                        <li>
                            <i class="icon-home"></i>
                            <a href="/">首页</a>
                            <i class="icon-angle-right"></i>
                        </li>
                        <li><a href="/">个人信息</a></li>
                    </ul>
                    <div class="row-fluid">
    <div class="row-fluid">
        
        <div id="app">
            
            
        </div>
     </div>    
    {% endblock %}
    {% block scripts %}
        <!-- start: JavaScript-->
       <script src="/static/js/lib/jquery-1.9.1.min.js"></script>
    <script src="/static/js/lib/jquery-migrate-1.0.0.min.js"></script>
    <script src="/static/js/lib/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="/static/js/lib/jquery.ui.touch-punch.js"></script>
    <script src="/static/js/lib/modernizr.min.js"></script>
    <script src="/static/js/lib/bootstrap.min.js"></script>
    <script src="/static/js/lib/custom.js"></script>
        <!-- end: JavaScript-->
        <script src="/static/js/build/user.js"></script>
        
        {%- endblock scripts %}