<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>mine</title>
		<link href='/static/css/bootstrap.css' rel="stylesheet">
		<link href="/static/site.css" rel="stylesheet">
	</head>
	<body>
		{% raw %}
		<script type="text/x-handlebars" id="index">
		<header class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="border-bottom: 0;opacity: 0.9;">
				<div class="container">
						<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle=".collapse" data-target=".navbar-collapse">
								<span class="sr-only">导航条</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								</button>
								<a class="navbar-brand" href="/uutest">
										<img alt="拼拼" src="/static/imgs/logo.png" width="50" height="26" >
								</a>
						</div>
						<div class="navbar-collapse collapse">
								<ul class="nav navbar-nav">
										
										<li>{{#link-to 'posts'}}Posts{{/link-to}}</li>
										<li>{{#link-to 'about'}}About{{/link-to}}</li>
										
										
								</ul>
								
						</div>
				</div>
		</header>
		<div class="container">
					{{outlet}}
			</div>
		</script>
		<script type="text/x-handlebars" id="about">
			
			<div><h1>Hello about</h1></div>
			
		</script>
		<script type="text/x-handlebars" id="posts">
				<div class="container">
	<div class="row">
		<div class="col-md-3">
			<table class="table">
				<thread>
					<tr><th>Recent Posts</th></tr>
				</thread>
				{{#each}}
				<tr><td>
				{{#link-to 'post' this}}
					{{title}} <small class="muted">by {{author.name}}</small>
				{{/link-to}}
				</td></tr>
				{{/each}}
			</table>
		</div>
		<div class="col-md-9">
			
			{{outlet}}
		</div>
	</div>
</div>
				
				
		</script>

<script type="text/x-handlebars" id="post">


{{#if isEditing}}
{{partial 'post/edit'}}
<button {{action "doneEditing"}}>Done</button>
{{else}}
<button {{action "edit"}}>Edit</button>
{{/if}}


<h1>{{title}}</h1>
<h2>by {{author.name}}</h2><small class="muted">({{format-date date}})</small>

<hr>


<div class="intor">
	{{format-markdown excerpt}}
</div>

<div class="below-the-fold">
	{{format-markdown body}}
</div>
</script>

<script type="text/x-handlebars" id="post/_edit">
<p>{{input type="text" value=title}}</p>
<p>{{input type="text" value=excerpt}}</p>
<p>{{textarea value=body}}</p>
</script>

{% endraw %}	
	 <script src="/static/js/lib/jquery.js"></script>
    <script src="/static/js/lib/bootstrap.js"></script>
    <script src="/static/js/lib/handlebars.js"></script>
    <script src="/static/js/lib/ember.debug.js"></script>
    <script src="/static/js/lib/ember-template-compiler.js"></script>
    <script src="/static/js/lib/ember-data.js"></script>
    <script src="/static/js/lib/moment.js"></script>
    <script src="/static/js/lib/showdown.js"></script>
    <script src="/static/js/mine.js"></script>


	
</body>
</html>